{% extends "base.html" %}
{% block content %}

<script src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);
    google.charts.setOnLoadCallback(drawScatterChart);
    google.charts.setOnLoadCallback(drawChart2);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Type', 'Count'],
            ['Coastal States', 34132],
            ['Non-Coastal States', 7534]
        ]);

        var options = {
            title: 'Distribution of Outbreaks',
            pieHole: 0.4,
            colors: ['#c6def1', '#f6b974']
        };

        var chart = new google.visualization.PieChart(document.getElementById('pieChart'));
        chart.draw(data, options);
    }

    function drawChart2() {
      var data = google.visualization.arrayToDataTable([
          ['Type', 'Count'],
          ['Coastal States', 30],
          ['Non-Coastal States', 20]
      ]);

      var options = {
          title: 'Coastal State Distribution',
          pieHole: 0.4,
          colors: ['#9ea1d4', '#fd8a8a']
      };

      var chart = new google.visualization.PieChart(document.getElementById('pieChart2'));
      chart.draw(data, options);
  }

    function drawScatterChart() {
        var data = google.visualization.arrayToDataTable([
                ['Population Density', 'Outbreak Cases'],
                [94.65, 358], [1.264, 187], [57.05, 839], [56.43, 179], [241.7, 2546],
                [49.33, 890], [739.1, 668], [464.3, 109], [353.4, 2612], [169.5, 580],
                [214.1, 470], [19.15, 170], [231.5, 1994], [181.7, 401], [54.81, 464],
                [35.09, 551], [110, 536], [105, 202], [43.04, 707], [596.3, 989],
                [840.2, 1313], [173.9, 2095], [67.14, 1790], [63.5, 139], [87.26, 471],
                [6.858, 215], [23.97, 211], [24.8, 391], [147, 607], [1189, 334],
                [17.16, 259], [412.3, 2728
                ]]
        );

        var options = {
            title: 'Relationship between Population Density and Outbreaks',
            hAxis: { title: 'Population Density (people per square mile)', minValue: 0, maxValue: 15 },
            vAxis: { title: 'Outbreak Cases', minValue: 0, maxValue: 15 },
            legend: 'none'
        };

        var chart = new google.visualization.ScatterChart(document.getElementById('scatterChart'));

        chart.draw(data, options);
    }
</script>

<style>
    h1,
    h2 {
        text-align: center;
    }

    text {
        font-size: larger;
    }
</style>

<div
    class="container pt-10 pb-20 md:pb-0 md:pt-24 space-y-6 h-full mx-auto pl-5 pr-5 md:max-w-5xl max-w-lg flex flex-col justify-center items-center">

    <h1 class="text-3xl font-bold pb-8 md:pb-0">Data Representation</h1>

    <div class="md:flex md:place-items-center md:flex-row flex-col col">
        <div>
          <div id="pieChart" class="w-96 h-72 md:w-[40vh] md:h-[25vh]"></div>
          <div id="pieChart2" class=" w-96 h-72 md:w-[40vh] md:h-[25vh]"></div>
        </div>
        <div id="scatterChart" class="md:block hidden w-[75vh] h-[75vh]"></div>
    </div>

</div>


{% endblock %}