{% extends "base.html" %}
{% block content %}
<h1>A premade Flask template!</h1>

<p>
  Are you looking to build a web application using Flask but don't know
  where to start? Look no further! Our premade Flask template provides you
  with a ready-to-use foundation to kickstart your web development
  journey.
</p>
<p>
  Our template includes all the necessary files and dependencies you need
  to get started, so you don't have to worry about configuring your Flask
  environment from scratch. Our template comes with a clean and modern
  design using
  <a href="https://picocss.com" target="_blank">pico.css</a> that you can
  easily customize to fit your brand or project requirements. The template
  is fully responsive, ensuring that your web application looks great on
  any device, whether it's a desktop, laptop, or mobile device. Built
  specifically with Vercel in mind, deploying with this template is as
  simple as clicking the provided link in our README.md!
</p>
<p>Good luck to all FullyHacks participants!</p>
{% endblock %}
```