{% extends "base.html" %}
{% block content %}

<link href="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js"></script>

<style>
    .map-container {
        position: relative;
        clear: right;
    }

    #map {
        height: 90vh;
    }

    .legend {
        position: absolute;
        float: right;
        height: fit-content;
        width: fit-content;
        font-family: 'Open Sans', sans-serif;
        background: #fff;
        border-radius: 5px;
        padding: 15px;
    }

    .menu-container {
        position: absolute;
        float: right;
        height: fit-content;
        width: fit-content;
        font-family: 'Open Sans', sans-serif;
    }

    .map-overlay {
        background: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 15px;
    }

    .map-overlay h2 {
        text-align: center;
        font-size: large;
        font-weight: bolder;
        margin-bottom: 5px;
        padding: 0;
    }

    #menu {
        display: flex;
        flex-direction: column;
    }

    #menu a {
        background: #fff;
        text-align: center;
        border-radius: 5px;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-bottom: 10px;
    }

    #menu a:hover {
        background: lightsteelblue;
    }

    .legend-key {
        display: inline-block;
        border-radius: 20%;
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }
</style>

<div class="map-container">
    <div id='map'></div>

    <div class="menu-container right-2 top-2 md:right-5 md:top-5">
        <div class='map-overlay' id='features'>
            <h2 id="stateDensityData-title">US Population Density</h2>
            <h2 id="stateOutbreakData-title" class="hidden">US Foodborne<br>Illness Outbreaks</h2>
            <div id='pd'>
                <p>Hover over a state!</p>
            </div>
        </div>
        <nav id="menu"></nav>
    </div>
    <div class='map-overlay legend right-2 bottom-2 md:right-5 md:bottom-5 md:mb-5"' id='legend1'></div>
    <div class='map-overlay legend hidden right-2 bottom-2 md:right-5 md:bottom-5 md:mb-5' id='legend2'></div>
</div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiampvZWxkYW5pZWwiLCJhIjoiY2xpamUwazZ5MDZhNTNlcWRvOXl0dG92YSJ9.ouE8NNeYWrNwMazE6Z2I3g';
    const map = new mapboxgl.Map({
        container: 'map',
        // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
        style: 'mapbox://styles/jjoeldaniel/cljhh6osj000201rd1vf43rp9',
        center: [-100.486052, 37.830348],
        projection: 'globe',
        zoom: 2.2
    });

    map.fitBounds([
        [-145, 25],
        [-55, 41]
    ]);

    let hoveredPolygonId = null;
    let currentLayer = 'stateDensityData';

    map.on('load', () => {

        map.addSource('states', {
            'type': 'geojson',
            'data': 'https://docs.mapbox.com/mapbox-gl-js/assets/us_states.geojson'
        });

        // The feature-state dependent fill-opacity expression will render the hover effect
        // when a feature's hover state is set to true.
        map.addLayer({
            'id': 'state-fills',
            'type': 'fill',
            'source': 'states',
            'layout': {},
            'paint': {
                'fill-color': '#627BC1',
                'fill-opacity': [
                    'case',
                    ['boolean', ['feature-state', 'hover'], false],
                    0.25,
                    0
                ]
            }
        });

        const layers = [
            '0-10',
            '10-20',
            '20-50',
            '50-100',
            '100-200',
            '200-500',
            '500-1000',
            '1000+'
        ];
        const colors = [
            '#FFEDA0',
            '#FED976',
            '#FEB24C',
            '#FD8D3C',
            '#FC4E2A',
            '#E31A1C',
            '#BD0026',
            '#800026'
        ];
        const layers2 = [
            '84-465',
            '466-847',
            '848-1229',
            '1230-1611',
            '1612-1993',
            '1994-2375',
            '2376-2727',
            '2728+',
        ]
        const colors2 = [
            '#FEF2D6',
            '#FAE9C3',
            '#F7F0A0',
            '#F2E886',
            '#DCC571',
            '#B97D60',
            '#875A4C',
            '#543D38',
        ]

        // create legends
        const legend = document.getElementById('legend1');
        const legend2 = document.getElementById('legend2');

        // loop through layers and layers2 and generate a label with a
        // colored square for each interval
        layers.forEach((layer, i) => {
            const color = colors[i];
            const color2 = colors2[i];

            const item = document.createElement('div');
            const item2 = document.createElement('div');

            const key = document.createElement('span');
            const key2 = document.createElement('span');

            key.className = 'legend-key';
            key2.className = 'legend-key';

            key.style.backgroundColor = color;
            key2.style.backgroundColor = color2;

            const value = document.createElement('span');
            const value2 = document.createElement('span');

            value.innerHTML = `${layer}`;
            value2.innerHTML = `${layers2[i]}`;

            item.appendChild(key);
            item2.appendChild(key2);

            item.appendChild(value);
            item2.appendChild(value2);

            legend.appendChild(item);
            legend2.appendChild(item2);
        });

        // When the user moves their mouse over the state-fill layer, we'll update the
        // feature state for the feature under the mouse.
        map.on('mousemove', 'state-fills', (e) => {
            if (e.features.length > 0) {
                if (hoveredPolygonId !== null) {
                    map.setFeatureState(
                        { source: 'states', id: hoveredPolygonId },
                        { hover: false }
                    );
                }
                hoveredPolygonId = e.features[0].id;
                map.setFeatureState(
                    { source: 'states', id: hoveredPolygonId },
                    { hover: true }
                );
            }
        });

        map.on('mousemove', (event) => {
            const states = map.queryRenderedFeatures(event.point, {
                layers: [currentLayer]
            });

            if (states.length) {
                let message = `<h3>${states[0].properties.name}</h3><p><strong><em>`;

                if (currentLayer === 'stateDensityData') {
                    message += `${states[0].properties.density}</strong> people per square mile</em></p>`;
                } else {
                    message += `${states[0].properties.outbreaks}</strong> outbreaks</em></p>`;
                }

                document.getElementById('pd').innerHTML = message;
            } else {
                document.getElementById('pd').innerHTML = `<p>Hover over a state!</p>`;
            }
        });

        map.on('idle', () => {
            const toggleableLayerIds = ['stateDensityData', 'stateOutbreakData'];

            // Set up the corresponding toggle button for each layer.
            for (const id of toggleableLayerIds) {
                // Skip layers that already have a button set up.
                if (document.getElementById(id)) {
                    continue;
                }

                // Map layer ids to names.
                const layerName = id === 'stateDensityData' ? 'Population Density' : 'Outbreaks';
                const layerMap = {
                    'Outbreaks': 'stateOutbreakData',
                    'Population Density': 'stateDensityData'}

                // Create a link.
                const link = document.createElement('a');
                link.id = id;
                link.href = '#';
                link.textContent = layerName;

                // Default layer
                if (id === 'stateDensityData') {
                    link.style.display = 'none';
                }

                // Show or hide layer when the toggle is clicked.
                link.onclick = function (e) {
                    const clickedLayer = layerMap[this.textContent];
                    e.preventDefault();
                    e.stopPropagation();

                    const visibility = map.getLayoutProperty(
                        clickedLayer,
                        'visibility'
                    );

                    const legend = id === 'stateDensityData' ? document.getElementById('legend1') : document.getElementById('legend2');
                    const otherLegend = id === 'stateDensityData' ? document.getElementById('legend2') : document.getElementById('legend1');

                    const otherId = id === 'stateDensityData' ? 'stateOutbreakData' : 'stateDensityData';
                    const other = document.getElementById(otherId);
                    const title = document.getElementById(`${id}-title`);

                    const otherTitle = document.getElementById(`${otherId}-title`);

                    if (visibility === 'visible') {
                        currentLayer = otherId;

                        // Change map layer
                        map.setLayoutProperty(
                            otherId,
                            'visibility',
                            'visible'
                        );
                        map.setLayoutProperty(
                            clickedLayer,
                            'visibility',
                            'none'
                        );

                        // Change menu
                        other.style.display = 'none';
                        link.style.display = 'block';

                        // Change title
                        title.style.display = 'none';
                        otherTitle.style.display = 'block';

                        // Change legend
                        legend.style.display = 'none';
                        otherLegend.style.display = 'block';

                    } else {
                        currentLayer = clickedLayer;

                        // Change map layer
                        map.setLayoutProperty(
                            otherId,
                            'visibility',
                            'none'
                        );
                        map.setLayoutProperty(
                            clickedLayer,
                            'visibility',
                            'visible'
                        );

                        // Change menu
                        other.style.display = 'block';
                        link.style.display = 'none';
                        
                        // Change title
                        title.style.display = 'block';
                        otherTitle.style.display = 'none';

                        // Change legend
                        legend.style.display = 'block';
                        otherLegend.style.display = 'none';
                    }
                };

                const layers = document.getElementById('menu');
                layers.appendChild(link);
            }
        });
    });
</script>

{% endblock %}